h2 {
    color: black;
    font-weight: 600;
    text-transform: capitalize;
}

p {
    color: black;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: justify;
    text-justify: inter-word;
}

.main-body {
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100vh;
}

.info-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 100px;
}

.About-highlight {
    display: inline;
    color: #FD5D93;
}

#About > h2, #About a  {
    color: #FD5D93;
}

#About a {
    font-weight: 400;
    text-decoration: none;
}

.Projects-highlight {
    display: inline;
    color: #5dc8fd;
}

#Projects > h2 {
    color: #5dc8fd;
}

#Projects a {
    color: #5dc8fd;
}

a:hover {
    cursor: pointer;
}

td {
    padding-bottom: 1em;
    padding-left: 1em;
}

.Underline {
    text-decoration: underline;
}

.Project-info {
    width: 70%;
}

.Contact-highlight {
    display: inline;
    color: #ff8900;
}

#Contact > h2, #Contact a {
    color: #ff8900;
}

#Contact {
    padding-top: 20px;
    margin-bottom: 100px;
}

@media only screen 
  and (min-device-width: 999px) {
    .info-card {
        width: 40%;
    }
}

@media only screen 
  and (max-device-width: 999px) {
    .info-card {
        width: 80%;
    }

    #About a {
        font-weight: 300;
        text-decoration: underline;
    }
}